{% extends "_base.html" %}
{% block content %}

<h1>Welcome to the Flask Task App.</h1>
<h3>Please log in to access your task list.</h3>

<form method="post" action="/">
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}: {{ form.name }}
        {% if form.name.errors %}
            <span class="error">
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
        &nbsp; &nbsp;
        {{ form.password.label }}: {{ form.password }}
        {% if form.password.errors %}
            <span class="error">
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
        &nbsp; &nbsp;
        <input type="submit" value="Submit">
    </p>
</form>

<br>

<p><em>Not registered yet?</em> Click <a href="/register">here</a> to register.</p>
{% endblock %}